<section class="section community-section">
    <div class="text">
        <h2>Manage your entire community in a single system</h2>
        <p>Who is Nextcent suitable for?</p>
    </div>
    <div class="frames">
        <app-community-frame title="Clubs And Groups" ,
            description="Our membership management software provides full automation of membership renewals and payments"
            , imgUrl="assets/community/clubs.png" />
        <app-community-frame title="National Associations" ,
            description="Our membership management software provides full automation of membership renewals and payments"
            , imgUrl="assets/community/clubs.png" />
        <app-community-frame title="Clubs And Groups" ,
            description="Our membership management software provides full automation of membership renewals and payments"
            , imgUrl="assets/community/clubs.png" />
    </div>
</section>