.community-update-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: calc(var(--page-horizontal-padding) + 30px);
}

.community-update-section .text {
    text-align: center;
    max-width: 650px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.community-update-section .text h2 {
    color: var(--d-grey);
}

.community-update-section .text p {
    color: var(--grey);
    font-size: 15px;
    line-height: 1.5;
}

.community-update-section .frames {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 15px;
}
