<section class="section achievements-section">
    <div class="text">
        <h2>Helping a local <br><span class="contrast">business reinvent itself</span></h2>
        <p>We reached here with our hard work and dedication</p>
    </div>
    <div class="counts">
        <div class="item">
            <img ngSrc="assets/achievements/member.png" width="33" height="33" alt="Members"/>
            <div class="info">
                <h3>2,245,341</h3>
                <p>Members</p>
            </div>
        </div>
        <div class="item">
            <img ngSrc="assets/achievements/hands.png" width="33" height="33" alt="Clubs"/>
            <div class="info">
                <h3>46,328</h3>
                <p>Clubs</p>
            </div>
        </div>
        <div class="item">
            <img ngSrc="assets/achievements/bookings.png" width="33" height="33" alt="Event Bookings"/>
            <div class="info">
                <h3>828,867</h3>
                <p>Event Bookings</p>
            </div>
        </div>
        <div class="item">
            <img ngSrc="assets/achievements/payments.png" width="33" height="33" alt="Payments"/>
            <div class="info">
                <h3>1,926,436</h3>
                <p>Payments</p>
            </div>
        </div>
    </div>
</section>