<section class="section clients-section">
    <div class="text">
        <h2>Our Clients</h2>
        <p>We have been working with some Fortune 500+ clients</p>
    </div>
    <div class="slide-show">
        <img ngSrc="assets/clients/a.png" width="80" height="80" alt="Client logo 1"/>
        <img ngSrc="assets/clients/b.png" width="80" height="80" alt="Client logo 2"/>
        <img ngSrc="assets/clients/c.png" width="80" height="80" alt="Client logo 3"/>
        <img ngSrc="assets/clients/d.png" width="80" height="80" alt="Client logo 4"/>
        <img ngSrc="assets/clients/e.png" width="80" height="80" alt="Client logo 5"/>
        <img ngSrc="assets/clients/f.png" width="80" height="80" alt="Client logo 6"/>
        <img ngSrc="assets/clients/g.png" width="80" height="80" alt="Client logo 7"/>
    </div>
</section>