<header class="header-container">
    <div class="left">
        <img ngSrc="assets/brand.png" width="35" height="24" alt="Nextcent logo" priority/>
        <h3>Nextcent</h3>
    </div>
    <div class="right">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Pricing</a></li>
            
            @if (isAuthenticated()) {
                <app-headerbar-user-button
                    username="Marina Costa"
                    plan="Plano Pro"
                    img="assets/avatar.png"
                />
            } @else {
                <li><a routerLink="/signup" class="button">Register Now</a></li>
            }
        </ul>
    </div>
</header>