.community-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.community-section .text {
    display: flex;
    gap: 5px;

    flex-direction: column;
    text-align: center;
}

.community-section .text h2 {
    max-width: 540px;
    margin-inline: auto;
    text-wrap: balance;
}

.community-section .frames {
    display: flex;
    gap: 30px;
    align-items: stretch;
}